.container {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;

  mat-form-field {
    width: 80%;
  }
}

.card {
  width: 30%;
  @media screen and (max-width: 890px) {
    width: 50%;
  }
}
